/* Import Google Fonts for Lato and Lustria */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lustria&display=swap');

/* Reset default browser styles using the wildcard selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #3a3a3a;
  /* Lato for general body text */
  font-family: 'Lato', sans-serif;
}

/* Apply Lustria for headings and large text */
h1, h2, h3 {
  font-family: 'Lustria', serif;
}

/* Header */
header {
  background-color: aquamarine;
}

/* Main */
main {
  background-color: blueviolet;
  /* Main content takes up remaining space */
    flex: 1 0 auto;
}

/* Footer */
footer {
  background-color: orange;
}